<mat-accordion>
  <mat-expansion-panel *ngFor="let keyname of categories; index as i;">
    <mat-expansion-panel-header>
      <mat-panel-title>{{keyname.name}}</mat-panel-title>
      <mat-panel-description>
        <mat-icon>school</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngFor="let cat of categories[i].rooms" (click)="catogoriesClick(cat)">
      {{cat}}
    </p>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="showing">
  <qrcode style="margin: 1em;" [elementType]="elementType" [level]="level" [qrdata]="qrdata" [scale]="scale"
  [width]="width">
</qrcode>
</div>
