<div>
  <mat-grid-list cols="3" rowHeight="1:1.5">
    <mat-grid-tile colspan="2" style="background: blue">
      <div>
        <app-leaflet-map-geojson></app-leaflet-map-geojson>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" style="background: red">
      <app-categorys></app-categorys>

      <qrcode style="margin: 1em;" [elementType]="elementType" [level]="level" [qrdata]="qrdata" [scale]="scale"
              [width]="width">
      </qrcode>
    </mat-grid-tile>
  </mat-grid-list>
