<div style="margin: 5px;">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div>
        <mat-tab-group dynamicHeight>
          <mat-tab label="stue">
            <app-leaflet-map-geojson></app-leaflet-map-geojson>
          </mat-tab>
          <mat-tab label="Kælder">
            <div class="example-large-box mat-elevation-z4">
              <app-canvas-map></app-canvas-map>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-categorys></app-categorys>
      <qrcode style="margin: 1em;" [elementType]="elementType" [level]="level" [qrdata]="qrdata" [scale]="scale" [width]="width">
      </qrcode>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- sdf -->
  <div style="float: left;">
  </div>
</div>
